body{
    font-family: monospace;

}
.nav {
    background-color: #fff;
     box-shadow: 0 0px 8px 0 rgba(165, 165, 165, 0.2), 0 6px 20px 0 rgba(209, 209, 209, 0.19);
 } 
 .nav .img-fluid{
     height: 40px;

}
.nav-btn {
      color: #180a0a;
    font-size: 18px;
     margin: .5rem;
     font-weight: 600;
} 
.nav-active,.nav-btn:hover{
    background-color:#000065;
    color: #fff;
}